@import "/styles/mixin";

.floatingMenu {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: rem(70);
	background: var(--color-gray-200);
	box-shadow: 0px -6px 15px 0px rgba(0, 0, 0, 0.15);
	z-index: 2;

	@media only screen and (min-width: 1024px) {
		display: none;
	}
}

.grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	align-items: center;
	height: 100%;
	text-align: center;
}

.floatingMenuCta {
	font-family: inherit;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	font-size: rem(12);
	color: var(--color-primary);
	border: 0;
	transition: background 0.4s ease;
	cursor: pointer;

	&:hover {
		color: var(--color-secondary);
		background-color: var(--color-primary);
		.deafult {
			opacity: 0;
		}
		.active {
			opacity: 1;
		}
	}
}

.active {
	position: absolute;
	top: rem(9);
	left: 50%;
	margin-left: rem(-13.5);
	opacity: 0;
	transition: opacity 0.4s ease;
}

.isPage {
	color: var(--color-secondary);
	background-color: var(--color-primary);

	.deafult {
		opacity: 0;
	}
	.active {
		opacity: 1;
	}
}
