.breadcrumbs {
	list-style: none;
	display: flex;

	li {
		margin-right: 5px;
		&:after {
			content: "/";
			margin-left: 5px;
		}

		&:last-child {
			&:after {
				content: "";
			}
		}

    a {
      text-transform: capitalize;
    }
	}
}
