@import "styles/breakpoints";
@import "styles/mixin";

.component {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	transition: background .8s ease;

	&.header-scrolled {
		background-color: var(--color-white);

		.nav-toggle {
			color: var(--color-primary);
		}

		.desktop {
			opacity: 0;
		}

		.mobile {
			opacity: 1;
		}

		.link {
			color: var(--color-primary);
		}

		.button--header {
			color: var(--color-white);
		}
	}
}

.grid {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: rem(80);
}

.logo {
	position: relative;
	display: flex;
	justify-content: center;
	width: rem(180);

	a {
		position: relative;
		display: grid;
		place-content: center;
	}
}

.nav-toggle {
	font-family: inherit;
	display: flex;
	align-items: center;
	column-gap: rem(6);
	padding: 0;
	font-size: rem(13);
	color: var(--color-white);
	font-weight: 700;
	border: 0;
	background-color: transparent;
	cursor: pointer;
}

.desktop {
	opacity: 1;
}

.mobile {
	position: absolute;
	top: -10px;
	left: 0;
	opacity: 0;
}

.left,
.right {
	display: none;

	@media only screen and (min-width: 1200px) {
		display: flex;
		align-items: center;
		column-gap: rem(40);
	}

	.button--header {
		min-width: rem(100);
		height: rem(40);
	}
}

.link {
	color: var(--color-white);
}